* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

section .container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

#developers .container {
    padding-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#developers .container .developer {
    width: 280px;
    text-align: center;
    border: 1px inset black;
    padding: 10px 15px;
    margin: 0 20px;
    border-radius: 15px;
    background-color: rgb(211, 189, 160);
    cursor: pointer;

    transition: all 0.4s ease;
}

#developers .container .developer:hover {
    background-color: rgb(180, 154, 121);
    transform: translateY(-15px);
}

#developers .container .developer .dev-img {
    width: 150px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 10px;
}

#developers .container .developer .dev-name {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 20px;
}

#developers .container .developer .dev-info {
    text-align: left;
    line-height: 20px;
}

#developers .container .developer .socmeds img {
    width: 50px;
    margin: 10px;
}