header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(180, 154, 121, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: white;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
header .container .hamburger {
  border: none;
  outline: none;
  outline: none;
  background: none;
  display: none;
  position: relative;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
header .container .hamburger::after, header .container .hamburger::before,
header .container .hamburger .bar {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  margin: 6px 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}
header .container .hamburger.is-active::before {
  -webkit-transform: rotate(-405deg) translate(-9px, 6px);
          transform: rotate(-405deg) translate(-9px, 6px);
}
header .container .hamburger.is-active::after {
  -webkit-transform: rotate(405deg) translate(-9px, -8px);
          transform: rotate(405deg) translate(-9px, -8px);
}
header .container .hamburger.is-active .bar {
  opacity: 0;
}
header .container h3 {
  font-size: 26px;
  font-weight: 800;
  color: inherit;
  cursor: pointer;
}
header .container h3 a {
  text-decoration: none;
  color: inherit;
}
header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .container nav ul li {
  position: relative;
  list-style: none;
  margin: 0 15px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
header .container nav ul li:hover {
  color: black;
}
header .container nav ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}
header .container nav ul li::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: "";
  width: 0;
  background-color: black;
  height: 3px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
header .container nav ul li:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  header .container nav {
    width: 90%;
    padding: 13px;
  }
  header .container nav h3 {
    font-size: 20px;
  }
  header .container .hamburger {
    display: block;
  }
}