header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(180, 154, 121);
    color: white;
    box-shadow: 0 0 10px black;
}

header  nav {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header nav h3 {
    font-size: 26px;
    font-weight: 800;
    color: inherit;
    cursor: pointer;
}

header nav h3 a {
    text-decoration: none;
    color: inherit;
}

header nav ul {
    display: flex;
}

header nav ul li {
    position: relative;
    list-style: none;
    margin: 0 15px;
    transition: all 0.4s ease;
}

header nav ul li:hover {
    color: black;
}

header nav ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

header nav ul li::after {
    position: absolute;
    left: 0;
    bottom: -5px;

    content: '';
    width: 0;
    background-color: black;
    height: 3px;

    transition: all 0.4s ease;
}

header nav ul li:hover::after {
    width: 100%;
}