* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* --------------- body ------------------ */

section {
    min-height: 100vh;
    padding-bottom: 50px;
}

section .container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

/* HOME */
#home {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/coastal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#home .container {
    display: flex;
    align-items: center;
    color: white;
    min-height: 100vh;
    padding-top: 85px;
}

#home .container .coastal-info {
    margin-left: 50px;
}

#home .container .coastal-info h2 {
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 64px;
    margin-bottom: 24px;
}

#home .container .coastal-info article {
    line-height: 28px;
}


/* DEFINITION */
#definition {
    background-image: linear-gradient(white, #c1865d);
}

#definition .enumerations .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding-top: 85px;
    padding-bottom: 32px;
}

#definition .enumerations .grid-element {
    border-radius: 15px;
    box-shadow: 0 0 5px black;
    padding: 20px;
}

#definition .enumerations .container h2 {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}

#definition .enumerations .container .grid-element ul {
    margin-left: 30px;
}

#definition .enumerations .container ul li {
    font-size: 20px;
    margin: 10px 0;
}

#definition .todos .container {
    padding: 32px;
    box-shadow: 0 0 5px black;
    border-radius: 15px;
    background-image: linear-gradient(white, #c1865d);
}

#definition .todos .container h2 {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}

#definition .todos .container .content {
    margin: 20px 0;
    text-align: center;
}

#definition .todos .container .content .title {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

#definition .todos .container .content .demo-img {
    width: 500px;
    height: 281px;
    margin-top: 20px;
    border: 2px outset black;
    cursor: pointer;
}

#definition .after-erosion .container {
    padding: 32px;
    box-shadow: 0 0 5px black;
    border-radius: 15px;
    margin-top: 32px;
    text-align: center;
}

#definition .after-erosion .container h2 {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#definition .after-erosion .container .yt-vid {
    margin-bottom: 10px;
}

#definition .after-erosion .container p {
    font-size: 20px;
    text-align: justify;
}


/* FACTS */
#facts {
    padding-top: 85px;
    background-color: #f0e5d7;
}

#facts .container {
    padding: 32px;
    padding-top: 10px;
    box-shadow: 0 0 5px black;
    border-radius: 15px;
}

#facts .fact-title {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}

#facts .container .coast-vid {
    float: left;
    width: 350px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
}

#facts .container .coastline-img {
    float: right;
    width: 350px;
    margin-left: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
}

#facts .container article {
    font-size: 20px;
    text-align: justify;
    margin: 20px 0;
}

#facts .container .hazard {
    margin-top: 32px;
}

#facts .container article .hazard-img {
    float: right;
    width: 350px;
    margin-left: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
}

#facts .container article .hazard-title {
    text-align: center;
    margin-bottom: 10px;
}
#facts .container article h3 {
    margin-bottom: 5px;
}

#facts .container article p {
    font-size: 20px;
    text-align: justify;
}

/* PETA */
#peta {
    padding-top: 85px;
}

#peta .container {
    padding: 32px;
    padding-top: 10px;
    box-shadow: 0 0 5px black;
    border-radius: 15px;
    text-align: center;
}

#peta .container h2 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

#peta .container img {
    width: 500px;
    margin-top: 15px;
    border: 2px outset black;
}